<div class="center hero-unit">
  <h1>Brainfront</h1>
 
  <h2>
    Currently in beta. Contact me for more details! 
  </h2>
 
  <%= link_to "Sign Up Here", "users/new", class: "btn btn-large btn-primary" %>
</div>